.wm {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}

/* animation timing function doesn't work in Tauri for transform. Not sure why. I need to simulate it. */
@keyframes content_showup {
	0% {
		transform: translateY(15px);
		opacity: 0;
	}
	25% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(4px);
	}
	75% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		0deg,
		rgba(20, 30, 50, 0.9) 0%,
		rgba(10, 10, 10, 0.9) 100%
	);
}

.content {
	animation: content_showup 0.2s;
	padding: 16px;
	overflow-y: scroll;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.decoration {
	background-color: black;
	width: 100%;
	height: 48px;
	border-radius: 8px 8px 0 0;
	display: flex;
	align-items: center;
}

@keyframes decoration_title_showup {
	0% {
		opacity: 0;
		transform: translateX(-4px);
	}
	100% {
		opacity: 100;
		transform: translateX(0px);
	}
}

.decoration_title {
	display: flex;
	margin-left: 16px;
	font-weight: 600;
	animation: decoration_title_showup 0.2s;
}

.decoration_buttons {
	display: flex;
	height: 100%;
}
