@use "./vars.scss";

@font-face {
	font-family: font;
	src: url("assets/Quicksand-VariableFont_wght.ttf");
}

// Custom scrollbars
::-webkit-scrollbar {
	width: 24px;
	height: 24px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 24px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: vars.$color-accent;
	border-radius: 24px;
	border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: vars.$color-highlight;
	border: 2px solid white;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

img,
div {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: font;
	overflow: hidden;
}

.icon {
	color: #fff;
	width: 24px;
	height: 24px;
}

.shine {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.menu_separator {
	width: 50%;
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.separator {
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu_button {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 64px;
	box-sizing: border-box;
	transform: translateX(0px);
	transition: transform 0.1s;
}

.menu_button:hover {
	background-color: vars.$color-tooltip;
	border: 2px solid vars.$color-border;
	border-right: unset;
	border-radius: 64px 0px 0px 64px;
	transform: translateX(4px);
}

.menu_button:not(:hover) {
	transition:
		background-color 0.15s linear,
		transform 0.1s;
}

.menu {
	width: vars.$menu-width;
	min-width: vars.$menu-width;
	max-width: vars.$menu-width;
	background-color: vars.$color-menu;

	height: fit-content;

	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 64px;
	gap: 4px;

	@extend .shine;
}

.separator_menu_rest {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	gap: 8px;
}

.separator_content_panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-grow: 1;
	position: relative;
}

.content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: radial-gradient(
			circle,
			vars.$color-background1 50%,
			vars.$color-background2 150%
		),
		linear-gradient(
			0deg,
			vars.$color-background-shine1 0%,
			vars.$color-background-shine2 100%
		);
	border-radius: 8px;
	box-sizing: border-box;
	position: relative;

	@extend .shine;
}

.content_showing_process {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	border-radius: 8px;
	border: 4px solid vars.$color-accent;
	margin-bottom: 24px;
}

.showing_process_bottom_bar {
	display: flex;
	flex-direction: row;
	bottom: -34px;
	height: 28px;
	left: -4px;
	position: absolute;
	background-color: black;
	border-radius: 8px;
	font-size: 0.75em;
	font-weight: bold;
}

.current_panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: baseline;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 6px;
	padding-bottom: 6px;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	overflow-y: auto;
}

.panel {
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;

	@extend .shine;

	justify-content: space-between;
	position: relative;

	padding-left: 8px;

	background: radial-gradient(
		circle,
		vars.$color-panel1 40%,
		vars.$color-panel2 100%
	);
}

.panel_left {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.panel_center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 48px;
}

.panel_right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 4px;
}

.clock {
	font-weight: 100;
	font-size: 1.2em;
	margin-right: 12px;
}

.panel_button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-sizing: border-box;
	gap: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
}

.panel_button:active {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.panel_button_square {
	@extend .panel_button;
	height: 100%;
	width: auto;
	aspect-ratio: 1/1;
	border: 2px solid transparent;
	background-color: unset;
}

.panel_button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.panel_button:not(:hover) {
	transition: background-color 0.15s linear;
}

.panel_window_list {
	display: flex;
	flex-direction: row;
	height: 100%;
	gap: 2px;
}

.panel_window {
	background-color: transparent !important;
	border: unset !important;
	height: 46px;
}

.games_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.applications_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.application_cover {
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: vars.$color-bg-dark;
	box-sizing: border-box;
	align-items: center;
	border-radius: 4px 4px 0 0;
}

.application_cover_big {
	@extend .application_cover;
	height: 100%;
	width: 25%;
	background-color: unset !important;
}

.application_cover:hover {
	background-color: vars.$color-accent;
	z-index: 1;
}

.application_cover:hover .application_cover_title {
	background-color: vars.$color-highlight;
	color: #000;
}

.application_cover_icon {
	margin: 4px;
	flex-grow: 1;
	width: 100%;
}

.application_cover_title {
	font-size: 0.7em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: vars.$color-bg-medium;
	min-height: 2em;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	width: 100%;
	border-radius: 0 0 4px 4px;
}

.game_cover {
	width: 140px;
	height: 210px;
	border-radius: 8px;
	border-top: 2px solid rgba(255, 255, 255, 0.75);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	position: relative;
	transition: transform 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.1);
}

.game_cover_image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: 8px;
}

.game_cover_title {
	text-align: center;
	z-index: 1;
	text-shadow: 1px 1px black;
	font-weight: 600;
}

.game_cover_big {
	@extend .game_cover;
	height: 100%;
	width: auto;
	aspect-ratio: 2/3;
}

.game_cover_shine {
	border-radius: 8px;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0) 50%,
			rgba(255, 255, 255, 0.4) 100%
		),
		linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.game_cover:hover {
	transform: perspective(400px) scale(1.075) rotateX(5deg);
	z-index: 1;
	border: 2px solid white;
	box-shadow: 0px 5px 20px white;
}

.game_cover_big:hover {
	transform: unset;
	box-shadow: unset;
	border: 2px solid black;
}

@keyframes tooltip_simple_showup {
	0% {
		transform: perspective(300px) rotateX(90deg);
		opacity: 0;
	}
	50% {
		transform: perspective(300px) rotateX(20deg);
		opacity: 1;
	}
	100% {
		transform: perspective(300px) rotateX(0deg);
		opacity: 1;
	}
}

.tooltip_simple {
	border-radius: 8px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	background: vars.$color-tooltip;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: nowrap;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;

	animation: tooltip_simple_showup 0.15s linear;
	transform-origin: 50% 100%;
	top: -32px;
}

.tooltip_simple:hover {
	display: none;
}

@keyframes tooltip_showup {
	0% {
		transform: perspective(300px) rotateY(90deg);
		opacity: 0;
	}
	50% {
		transform: perspective(300px) rotateY(20deg);
		opacity: 1;
	}
	100% {
		transform: perspective(300px) rotateY(0deg);
		opacity: 1;
	}
}

.tooltip {
	border-radius: 0px 32px 32px 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;

	position: absolute;
	z-index: 10;
	background: vars.$color-tooltip;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.2);
	text-wrap: nowrap;
	height: 48px;

	box-sizing: border-box;

	animation: tooltip_showup 0.15s linear;
	transform-origin: 0% 50%;

	border: 2px solid vars.$color-border;
	border-left: none;
}

.tooltip:hover {
	display: none;
}

.title {
	font-size: 1.15em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: 600;
}

.inline {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.box_right {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.box_down {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.previewer_content {
	height: 100%;
	gap: 16px;
	display: flex;
	justify-content: center;
}

.previewer_info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.previewer_title {
	font-weight: 600;
	font-size: 2em;
}

.previewer_desc {
	font-weight: 500;
}

.previewer_developers {
	font-weight: 600;
}

.previewer_message {
	display: flex;
	align-self: center;
	justify-self: center;
	font-weight: 600;
	gap: 16px;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.button {
	display: flex;
	border: 2px solid vars.$color-border;
	background-color: rgba(255, 255, 255, 0.1);
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding: 4px 12px 4px 12px;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	color: white;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid white;
}

.button:not(:hover) {
	transition: background-color 0.15s linear;
}

.button:active {
	background-color: rgba(255, 255, 255, 0.4);
}

.big_button {
	width: min-content;
	min-width: 200px;
	min-height: 48px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid vars.$color_border;
	gap: 8px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.big_button:hover {
	border: 2px solid white;
	padding: 0px;
}

.big_button:active {
	color: black;
	background: white !important;
}

.wayvr_displays {
	padding: 8px;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	gap: 8px;
	align-items: center;
}

.wayvr_display {
	box-sizing: border-box;

	background: linear-gradient(
		0deg,
		rgba(100, 110, 150, 0.4) 0%,
		rgba(100, 110, 150, 0.8) 100%
	);

	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2px;

	// be aware that long display names could not fit if you try to increase this value
	font-size: 0.8em;

	overflow: hidden;
}

.wayvr_display_hover {
	transition: transform 0.15s;
}

.wayvr_display_sel {
	background-color: vars.$color-highlight !important;
}

.wayvr_display_hover:hover {
	background: unset;
	background-color: vars.$color-accent;
	transform: translateY(-4px) rotate(-1deg) /* just for fun */;
}

.wayvr_processes {
	padding: 8px;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: center;
}

.wayvr_process {
	box-sizing: border-box;
	border-radius: 4px;
	background-color: rgba(150, 150, 150, 0.15);
	padding: 4px;
	gap: 8px;
	display: flex;
}

.wayvr_process_name {
	border-radius: 4px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding-left: 4px;
	padding-right: 4px;
	min-height: 24px;
	flex-grow: 10;
}

.checkbox_body {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	align-items: center;
}

.checkbox_checkmark {
	width: 1.5em;
	height: 1.5em;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox_checkmark:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.checkbox_body:hover .checkbox_checkmark {
	background-color: rgba(255, 255, 255, 0.5);
}

.checkbox_checkmark_checked {
	background-color: vars.$color-accent;
}

.checkbox_checkmark_checked:hover {
	background-color: vars.$color-highlight;
}

.slider_line {
	height: 12px;
	position: absolute;
	width: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: rotate(10deg); // this looks cool
}

.slider {
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.slider:hover .slider_filling {
	background-color: vars.$color-highlight;
}

.slider_bar {
	width: 100%;
	height: 10px;
	border-radius: 16px;
	border: 2px solid white;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

.slider_filling {
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: vars.$color-accent;
	border-radius: 16px 0px 0px 16px;
	border: 2px solid white;
	top: -2px;
	left: -2px;
}

.slider_handle {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	top: 5px;
	left: -2px;
	box-sizing: border-box;
	background-color: white;
}

.popup {
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: vars.$color-tooltip;
	border: 2px solid vars.$color-border;
	box-sizing: border-box;
	border-radius: 8px;
	position: absolute;
	bottom: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.container {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	flex-direction: column;
	border: 2px solid vars.$color_border;
	background-color: rgba(16, 24, 32, 0.5);
	padding: 16px;
	border-radius: 8px;
}

.error_text {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 15;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 4px;
	padding-left: 8px;
	color: #f66;
	font-size: 0.75em;
	font-weight: 500;
	border-radius: 4px;
	transform: translateX(-50%);
}

.text_green {
	color: #9f9;
}

.text_red {
	color: #f99;
}
