$color-menu: rgba(10, 10, 10, 0.8);
$color-border: rgba(175, 200, 255, 0.15);
$color-tooltip: rgba(25, 25, 25, 1);

$color-panel1: rgb(20, 30, 40);
$color-panel2: rgb(10, 10, 10);

$color-background1: rgba(34, 44, 62, 0.75);
$color-background2: rgba(15, 14, 26, 0.75);

$color-background-shine1: rgba(0, 0, 0, 0.6);
$color-background-shine2: rgba(66, 126, 255, 0.6);

$color-bg-dark: rgb(29, 46, 81);
$color-bg-medium: rgb(41, 71, 116);

$color-accent: rgb(0, 140, 255);
$color-highlight: rgb(80, 220, 255);

$menu-width: 48px;
